.ticket-show-container{
  height: 70vh;
  background-size: 100% 100%;
}

.img-ticket{
  width: 100%;
}

.ticket-show-card{
  border-radius: 20px 20px 0 0;
  background-color: var(--white);
  padding: 20px;
  margin-top: -100px;
}


.ticket-ammount{
  border-radius: 20px 20px 0 0;
  background-color: var(--white);
  margin-top: -100px;
  padding: 50px;
}
