<div
  class="ticket-show-container"
  style="background-image:  linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(<%= @ticket.photo %>);"
>
</div>

<div class="container">
  <div class="ticket-ammount">
    <%= render 'form' %>
  </div>

</div>
