<div class="bg-carousel">
  <div class="banner-content">
    <div class="container-align">
      <h1>Quanto mais você se divertir, mais você ganha</h1>
      <h3>Comece agora mesmo a receber cashback na compra de ingressos</h3>
      <a class="btn-start" href="#ticket-id">Começar agora</a>
    </div>
  </div>
</div>
