// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "home/index";
@import "colors/index";
@import "ticket/index";
@import "dashboard/index";
@import "session/index";

body{
  font-family: 'Roboto', sans-serif;
}


.navbar{
  li{
    margin-left: 10px;
    padding: 10px;
  }

  a{
    color: var(--btn-reservation);
    font-weight: bold;
  }

  a:hover{
    opacity: 0.9;
    color: var(--btn-reservation);
    font-weight: bold;
  }

  .nav-item{
    padding-top: 15px;
  }

}

.li-dash{
  border-radius: 5px;
  background-color: var(--btn-reservation);
  padding: 5px 25px;
  color: var(--white) !important;
  font-weight: bold;
}

.li-dash:hover{
  opacity: 0.9;
  color: var(--white);
  text-decoration: none;
}
